

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;

}

#root {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    line-height: 1.5;
}

span {
    font-weight: 500;
    font-size: 16px;
    
    

}

h1{
    font-size: 20px;
    font-weight:700;
    margin: 6px;
    padding: 0;
    
}

h2{
    font-size: 14px;
    font-weight:400;
    margin: 0;
    padding: 0;
}

p{  font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.foot{

    text-align: center;
    font-size: 11px;
    color: #rgb(110, 99, 99)

}    

@media only screen and (max-width: 600px) {
    #root {
        width: 95%;
    }
  }

span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}



.logo {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo span {
    font-weight: 600;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.button-area a {
    text-decoration: none;
    background-color: #2a3235;
    padding: 7px;
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    align-items: center;
    color:#fdfeff;
    border-radius: 15px;
    transition: 0.3s;
    margin-bottom: 14px;
    min-height: 56px;
}

.button-area a:hover {
   
    color: #F7F7F7;
}

.button-area a img {
    width: 50px;
    height: 50px;
}

.button-area a span {
    width: 100%;
    text-align: center;
}